
        {%extends 'base_grade.html'%}
        {%block content%}
        <div id="card">
      
        <h2 class="list_header" id="delete_header">Delete Scores</h2>
       
        <form action="" method="post"  class="form_points">
            {%csrf_token%}
            
           <p>Do you really want to delete 
            <strong>{{gradeten.name}}</strong>'s scores?
        </p>
            <button type="submit" class="button_points"> 
                Delete 
            </button>
        </form>
        </div>
      
        {%endblock%}
  