
        {%extends 'base_grade.html'%}
        {%block content%}
     
        <div class="card">
            <h2 >Grade 9 Student Details</h2>

            <p><a href="{%url 'points'%}">Back to mark list</a></p>

            <ul class="student-details"> 
       <li>Name: {{point.name}}</li>
       <li>Math: {{point.math}}</li>
       <li>Biology: {{point.chemistry}}</li>
        <li>Chemistry: {{point.biology}}</li>
        <li>Physics: {{point.physics}}</li>
            </ul>
    
        {%if point.author.pk == request.user.pk%}
<div class="actions">
    <a href="{% url 'update' point.pk %}">
        <button type="submit" class="btn">Edit</button>
    </a>
    <a href="{% url 'delete' point.pk %}">
        <button type="submit" class="btn danger"> Delete</button>
    </a>
    </div>
        {%endif%}
      
       
        </div>
{%endblock%}

