
        {%extends 'base_grade.html'%}
        {%block content%}
     
        <div class="card">
            <h2 >Grade 10 Student Details</h2>

            <p><a href="{%url 'list_ten'%}">Back to mark list</a></p>

            <ul class="student-details"> 
       <li>Name: {{gradeten.name}}</li>
       <li>Math: {{gradeten.math}}</li>
       <li>Biology: {{gradeten.chemistry}}</li>
        <li>Chemistry: {{gradeten.biology}}</li>
        <li>Physics: {{gradeten.physics}}</li>
            </ul>
    
        {%if gradeten.author.pk == request.user.pk%}
<div class="actions">
    <a href="{% url 'update' gradeten.pk %}">
        <button type="submit" class="btn">Edit</button>
    </a>
    <a href="{% url 'delete' gradeten.pk %}">
        <button type="submit" class="btn danger"> Delete</button>
    </a>
    </div>
        {%endif%}
      
       
        </div>
{%endblock%}


