
        {%extends 'base_grade.html'%}
        {%block content%}
        <div >
      <h2>Grade 10 Marks</h2>
 <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Math</th>
                    <th>Biology</th>
                    <th>Chemistry</th>
                    <th>Physics</th>
                </tr>
                </thead>
                <tbody>
                {%for halu in gradeten_list%}
            <tr class="grade">
        <td><a href="{{halu.get_absolute_url}}"> {{halu.name}}</a></td>
       <td>{{halu.math}}</td>
       <td>{{halu.chemistry}}</td>
        <td>{{halu.biology}}</td>
        <td>{{halu.physics}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>
    <br>
        </div>
{%endblock%}

   